/* 通用 */
* {
	font-family: PingFangSC-Regular;
}

html,
body {
	width: 100%;
	height: 100%;
}

label {
	color: #FFFFFF;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.54);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: rgba(255, 255, 255, 0.54);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: rgba(255, 255, 255, 0.54);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.54);
}

.mui-input-row .mui-input-clear~.mui-icon-clear.mui-active,
.mui-input-row .mui-input-password~.mui-icon-eye.mui-active,
.mui-input-row .mui-input-speech~.mui-icon-speech.mui-active {
	color: #ffffff;
}

.mui-bar-nav {
	background: #FFFFFF;
}

.mui-bar-nav,
.mui-bar-nav a {
	color: #111111;
}

/* login S */
.login {
	position: relative;
}

.login>.mui-content {
	background-image: url(../images/bg-denglux1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}

.login>div>form {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%);
	width: 95%;
}

.login>div>form>div {
	margin: 10px 0 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.54);
	;
}

.login>div>form label,
.login>div>form input {
	padding: 10px 5px;
	font-size: 17px;
}

.login>div>form label {
	width: 20%;
}

.login>div>form input {
	width: 80%;
	color: #FFFFFF;
}

.login>div>form>.mui-content-padded {
	border: none;
}

.login>div>form>.mui-content-padded .mui-btn-block {
	padding: 11px 0;
	border-radius: 5px;
	border: none;
}

.login>div>form>.mui-content-padded .mui-btn-block:first-child {
	background-image: linear-gradient(0deg, #FFEF3F 0%, #FFFE64 100%);
}

.login>div>form>.mui-content-padded .mui-btn-block:last-child {
	background: #F0F0F0;
	margin-top: 15px;
}

.login>div>form>.forget-password {
	margin: 0;
	text-align: center;
}

.login>div>form>.forget-password button {
	padding: 0;
	color: rgba(255, 255, 255, 0.54);
	font-size: 14px;
	border: none;
}

.login>div>form .mui-btn-block a {
	color: #000000;
}



/* login E */

/* register S */
.register input::-webkit-input-placeholder,
.register textarea::-webkit-input-placeholder {
	color: #CCCCCC;
}



.register .mui-bar-nav {
	border-bottom: 1px solid #979797;
}

.register>div>form label,
.register>div>form input {
	padding: 15px 10px;
	font-size: 17px;
}

.register>div>form label {
	padding-left: 0;
	color: #000000;
}

.register>div>form input {
	padding: 10px 0;
	height: 48px;
}

.register form {
	background: #FFFFFF;
}

.register form .mui-input-row {
	margin: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}

.register form .mui-input-row:last-child {
	border-bottom: none;
}

.register .mui-input-row label {
	width: 25%;
}

.register .mui-input-row input {
	width: 75%;
}

.register form .mui-input-row:first-child {
	display: flex;
}

.register form .mui-input-row:first-child label,
.register form .mui-input-row:first-child input {
	float: none;
}

.register form .mui-input-row:first-child label {
	width: 25%;
}

.register form .mui-input-row:first-child input {
	width: 45%;
}

.register form .mui-input-row:first-child button {
	width: 30%;
	font-size: 17px;
	color: #58BC3D;
	border: none;
	border-radius: 0;
	position: relative;
}

.register form .mui-input-row:first-child button:before {
	content: '';
	height: 20px;
	width: 1px;
	background: #CCCCCC;
	display: inline-block;
	position: absolute;
	top: 14px;
	left: 0;
}

.register>div>.m-btn {
	margin: 0;
	width: 93%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%);
}

.register>div>.mui-content-padded:first-child {
	margin-bottom: 17px;
}

.register>div>.mui-content-padded .mui-btn-block {
	padding: 11px 0;
	border-radius: 5px;
	border: none;
	box-shadow: 0 6px 7px 0 #E4E4E4;
	background-image: linear-gradient(0deg, #FFEF3F 0%, #FFFE64 100%);
}

.register>div>.mui-content-padded p {
	text-align: center;
	color: #999999;
	font-size: 12px;
}

.register div .mui-content-padded p span {
	color: #58BC3D;
}

/* register E */

/* registerBusiness S */
.registerBusiness input::-webkit-input-placeholder,
.registerBusiness textarea::-webkit-input-placeholder {
	color: #CCCCCC;
}

.registerBusiness .mui-bar-nav {
	border-bottom: 1px solid #979797;
}

.registerBusiness>div>form label,
.registerBusiness>div>form input {
	padding: 15px 10px;
	font-size: 17px;
}

.registerBusiness>div>form label {
	padding-left: 0;
	color: #000000;
}

.registerBusiness>div>form input {
	padding: 10px 0;
	height: 48px;
}

.registerBusiness form {
	background: #FFFFFF;
}

.registerBusiness form .mui-input-row {
	margin: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}

.registerBusiness form .mui-input-row:last-child {
	border-bottom: none;
}

.registerBusiness .mui-input-row label {
	width: 30%;
}

.registerBusiness .mui-input-row input {
	width: 70%;
}

.registerBusiness>div>.m-btn {
	margin: 0;
	width: 93%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%);
}

.registerBusiness>div>.mui-content-padded:first-child {
	margin-bottom: 17px;
}

.registerBusiness>div>.mui-content-padded .mui-btn-block {
	padding: 11px 0;
	border-radius: 5px;
	border: none;
	background-image: linear-gradient(0deg, #FFEF3F 0%, #FFFE64 100%);
}

.registerBusiness>div>.mui-content-padded p {
	text-align: center;
	color: #999999;
	font-size: 12px;
}

.registerBusiness div .mui-content-padded p span {
	color: #58BC3D;
}

/* registerBusiness E */

/* forgetPassword S */
.forgetPassword input::-webkit-input-placeholder,
.forgetPassword textarea::-webkit-input-placeholder {
	color: #CCCCCC;
}



.forgetPassword .mui-bar-nav {
	border-bottom: 1px solid #979797;
}

.forgetPassword>div>form label,
.forgetPassword>div>form input {
	padding: 15px 10px;
	font-size: 17px;
}

.forgetPassword>div>form label {
	padding-left: 0;
	color: #000000;
}

.forgetPassword>div>form input {
	padding: 10px 0;
	height: 48px;
}

.forgetPassword form {
	background: #FFFFFF;
}

.forgetPassword form .mui-input-row {
	margin: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}

.forgetPassword form .mui-input-row:last-child {
	border-bottom: none;
}

.forgetPassword .mui-input-row label {
	width: 25%;
}

.forgetPassword .mui-input-row input {
	width: 75%;
}

.forgetPassword form .mui-input-row:first-child {
	display: flex;
}

.forgetPassword form .mui-input-row:first-child label,
.forgetPassword form .mui-input-row:first-child input {
	float: none;
}

.forgetPassword form .mui-input-row:first-child label {
	width: 25%;
}

.forgetPassword form .mui-input-row:first-child input {
	width: 45%;
}

.forgetPassword form .mui-input-row:first-child button {
	width: 30%;
	font-size: 17px;
	color: #58BC3D;
	border: none;
	border-radius: 0;
	position: relative;
}

.forgetPassword form .mui-input-row:first-child button:before {
	content: '';
	height: 20px;
	width: 1px;
	background: #CCCCCC;
	display: inline-block;
	position: absolute;
	top: 14px;
	left: 0;
}

.forgetPassword>div>.mui-content-padded .mui-btn-block {
	border: none;
	padding: 11px 0;
	border-radius: 5px;
	box-shadow: 0 6px 7px 0 #E4E4E4;
}

.forgetPassword>div>.m-btn {
	margin: 0;
	width: 93%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%);
}

/* forgetPassword E */
/* replacePassword S */
.replacePassword input::-webkit-input-placeholder,
.replacePassword textarea::-webkit-input-placeholder {
	color: #CCCCCC;
}

.replacePassword>div>form input {
	padding: 10px;
	height: 48px;
	margin-bottom: 0;
	border: none;
}

.replacePassword form .mui-input-row {
	border-bottom: 1px solid #e5e5e5;
}

.replacePassword>div>.mui-content-padded .mui-btn-block {
	border: none;
	padding: 11px 0;
	border-radius: 5px;
	box-shadow: 0 6px 7px 0 #E4E4E4;
	background-image: linear-gradient(0deg, #FFEF3F 0%, #FFFE64 100%);
}

.replacePassword>div>.m-btn {
	margin: 0;
	width: 93%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%);
}

/* replacePassword E */

/* home S */
.home .mui-bar-nav.mui-bar .mui-icon-plus{
	margin-right: 2px;
}
.home .mui-content{
	padding-top: 0;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}
.home .mui-content .businessinformation{
	height: 30%;
	/* background-image: linear-gradient(-150deg, #F28E4F 0%, #F3385B 100%); */
	background-image: url(../images/bg-shouye.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.home .mui-content .businessinformation h2{
	display: inline-block;
	font-size: 30px;
	padding: 30px 15px;
	background-color: #FFFFFF;
	border-radius: 150%;
	position: absolute;
	top: 30%;
	left: 13%;
	transform: translate(-13%);
}
.home .mui-content .businessinformation h1{
	display: inline-block;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 83%;
	left: 13%;
	transform: translate(-13%);
}
.home .mui-content .businessinformation p{
	margin-bottom: 0;
	position: absolute;
	top: 55%;
	right: 5%;
	transform: translate(-5%);
	color: #FFFFFF;
}
.home .mui-content .businessinformation p strong{
	font-size: 28px;
}
.home .mui-content .businesscoupon ul{
	padding-left: 0;
	margin: 0 auto;
}
.home .mui-content .businesscoupon ul li{
	list-style: none;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(../images/quan-daijin.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 12px 0;
}
.home .mui-content .businesscoupon ul li div{
	display: block;
}
.home .mui-content .businesscoupon ul li div:first-child{
	width: 30%;
}
.home .mui-content .businesscoupon ul li div:nth-child(2){
	width: 60%;
}
.home .mui-content .businesscoupon ul li div:last-child{
	width: 10%;
}
.home .mui-content .businesscoupon ul li h4{
	font-size: 14px;
	margin: 0 0 7px 0;
}
.home .mui-content .businesscoupon ul li p{
	font-size: 11px;
	color: #999999;
	margin-bottom: 7px;
}
.home .mui-content .businesscoupon ul li p span{
	margin-right: 20px;
}
.home .mui-content .businesscoupon ul li p:last-child{
	margin-bottom: 0;
	line-height: 13px;
}
.home .scan{
	position: absolute;
	height: 70px;
	width: 70px;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%);
}
.home .scan img{
	width: 100%;
}
/* home E */

/* iphone5 S */
@media only screen and (max-width: 350px) {
	.login>div>form>.mui-content-padded {
		margin: 15px 0 16px 0;
		border: none;
	}
	.login>div>form {
		top: 50%;
	}

	.register .mui-input-row label,
	.registerBusiness .mui-input-row label,
	.forgetPassword .mui-input-row label {
		font-size: 15px;
	}

	.register .mui-input-row input,
	.registerBusiness .mui-input-row input,
	.forgetPassword .mui-input-row input,
	.replacePassword>div>form input {
		font-size: 15px;
	}

	.register form .mui-input-row:first-child button,
	.forgetPassword form .mui-input-row:first-child button {
		font-size: 15px;
	}

	.register>div>form input,
	.registerBusiness>div>form input,
	.replacePassword>div>form input,
	.forgetPassword>div>form input{
		height: 44px;
	}

	.register>div>.m-btn,
	.registerBusiness>div>.m-btn,
	.replacePassword>div>.m-btn,
	.forgetPassword>div>.m-btn{
		top: 45%;
	}
	.home .mui-content .businessinformation{
		height: 35%;
	}
	.home .mui-content .businesscoupon ul li{
		padding: 10px 0;
	}
	.home .mui-content .businesscoupon ul li div:first-child{
		padding-left: 30px;
	}
	.home .mui-content .businesscoupon ul li h4{
		font-size: 14px;
		margin: 0 0 3px 0;
	}
	.home .mui-content .businesscoupon ul li p{
		font-size: 11px;
		color: #999999;
		margin-bottom: 3px;
	}
	.home .mui-content .businesscoupon ul li p:last-child{
		margin-bottom: 0;
	}
}

/* iphone5 E */
